	#head{
		height: 129px;
		width: 1180px;
		margin: 0 auto;
	}
	#menu{
		height: 40px;
		background-color: black;
		width: 1180px;
		margin: 0 auto;

	}
	#menu1{
		width: 96px;
		height: 39px;
		background-color: #fe0d4a;
		color: white;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		float: left;
		line-height: 39px;
	}
	.menu2{
		width: 126px;
		height: 40px;
		float: left;
		text-align: center;
		line-height: 40px;
		color: white;
		font-size: 13px;
		font-weight: bold;
	}
	#menu3{
		width: 164px;
		height: 40px;
		margin-left:38px;
		float: left;
	}
	#goodsbody{
		width: 1180px;
		height: 777px;
		margin:0 auto;
	}
	#body1{
		height: 673px;

	}
	#body2{
		height: 104px;
	}
	#navigation{
		height: 38px;
		line-height: 38px;
		font-size: 12px;
	}
	#mainbody{
		width: 1180px;
		height: 631px;
	}
	#mainleft{
		width: 994px;
		height: 631px;
		float: left;
	}
	#mainright{
		width: 180px;
		height: 620px;
		float: left;
		margin-left: 6px;
	}
	#mainleft1{
		height: 631px;
		width: 450px;
		float: left;
	}
	#goodlarge{
		width: 408px;
		height: 408px;
		margin-left: 20px;
		margin-top: 20px;
		border:solid;
		border-width: 1px;
		border-color: #d0cdc7;
		background: url(img/pp0.jpeg);
	}
	#goodsmall{
		width: 410px;
		height: 62px;
		margin-top: 24px;
		margin-left: 20px;
	}
	#goodsmallleft{
		width: 25px;
		height: 62px;
		float: left;
		outline: none;
	}
	#goodsmall1{
		width: 55px;
		height: 55px;
		margin-left: 2px;
		margin-top: 2px;
		float: left;
		outline: none;
	}
	#goodsmall2{
		width: 55px;
		height: 55px;
		margin-left: 2px;
		margin-top: 2px;
		float: left;
		outline: none;
	}
	#goodsmallright{
		width: 25px;
		height: 62px;
		margin-left: 234px;
		float: left;
		outline: none;
	}
	#mainleft2{
		width: 500px;
		height: 450px;
		float: left;
	}
	#mainleft21{
		height: 24px;
		margin-top: 3px;
		font-size: 15px;
	}
	#mainleft22{
		height: 44px;
		width: 464px;
		color: #676660;
		margin-top: 3px;
		font-size: 11px;
		line-height: 22px;
	}
	#mainleft23{
		height: 13px;
		margin-top: 30px;
		margin-left: 18px;
	}
	#mainleft231{
		width: 25px;
		height: 11px;
		margin-top: 2px;
		font-size: 11px;
		float: left;
		color: #03004e;
	}
	#mainleft232{
		width: 29px;
		height: 13px;
		margin-left: 56px;
		font-size: 13px;
		color: #ff0000;
		float: left;
	}
	#mainleft233{
		width: 35px;
		height: 9px;
		margin-left: 22px;
		margin-top: 3px;
		font-size: 9px;
		text-decoration:line-through;
		float: left;
	}
	#mainleft24{
		height: 101px;
		width: 500px;
		margin-top: 17px;
	}
	#mainleft26{
		height: 30px;
		margin-top: 1px;
		margin-left: 22px;	
		font-size: 11px;
	}
	#ml150{
		width: 60px;
		height: 28px;
		margin-left: 26px;
		border: none;
		background-color: white;
	}
	#ml200{
		width: 60px;
		height: 28px;
		border: none;
		background-color: white;
	}
	#mainleft27{
		height: 29px;
		margin-top: 20px;
		margin-left: 22px;
		font-size: 11px;	
	}
	#mainleft271{
		width: 27px;
		font-size: 11px;
		float: left;
	}
	#mainleft272{
		width: 80px;
		height: 12px;
		margin-left: 25px;
		margin-top: 4px;
		font-size: 12px;
		float: left;
	}
	#numminus{
		margin-left:64px;
	}
	#numminus,#numplus{
		width: 24px;
		height: 27px;
		border: solid 1px #cecbc5;
		background-color: white;
		float: left;
	}
	#goodsnum{
		width: 50px;
		height: 25px;
		border: solid 1px #aca7a2;
		background-color: white;
		float: left;
		text-align: center;
		line-height: 25px;
	}
	#mainleft28{
		height: 11px;
		margin-top: 24px;
		margin-left: 22px;
	}
	#mainleft280{
		height: 11px;
		width: 24px;
		color: #666560;
		font-size: 11px;	
		float: left;
	}
	#mainleft281{
		height: 11px;
		width:17px;
		font-size: 11px;	
		color: #ff0853;
		float: left;
		margin-left: 59px;
		font-weight: bold;
	}
	#mainleft282{
		height: 11px;
		width: 11px;
		color: #666560;
		font-size: 11px;	
		float: left;
	}
	#mainleft29{
		margin-top: 20px;
		height: 14px;
	}
	#mainleft291{
		width: 50px;
		height: 11px;
		margin-left: 84px;
		font-size: 11px;
		display: none;
		float: left;
	}
	#mainleft292{
		width: 61px;
		height: 13px;
		margin-left: 18px;
		font-size: 13px;
		display: none;
		color: #ff9003;
		float: left;
	}
	#mainleft2button{
		margin-top: 23px;
		margin-left: 22px;
		height: 40px;
	}
	#mainleft2button1{
		width: 148px;
		height: 38px;
		border: solid;
		border-width: 1px;
		border-color: #ff0754;
		float: left;
		border-radius: 7px;
	}
	#mainleft2button2{
		width: 148px;
		height: 38px;
		border: solid;
		border-width: 1px;
		border-color: #ff0754;
		margin-left: 24px;
		float: left;
		border-radius: 7px;
	}
	#buynow1{
		color:#ff0754;
		font-size: 15px;
		width: 148px;
		height: 38px;
		border: none;
		background-color: white;
		border-radius: 7px;
	}
	#buynow2{
		color:white;
		font-size: 15px;
		width: 148px;
		height: 38px;
		border: none;
		background-color:#ff0754;
		border-radius: 7px;
	}