	#tail{
		width: 1180px;
		height: 346px;
		margin:0 auto;
	}
	#tail1{
		width: 1180px;
		height: 182px;
	}
	#tail2{
		width: 1031px;
		height: 1px;
		background-color: #ebeae8;
		margin-left: 149px;
	}
	#tail3{
		width: 1180px;
		height: 163px;
	}
	#tail11{
		width: 149px;
		height: 182px;
		float: left;
		clear: both;
	}
	#tail12{
		margin-left: 84px;
		margin-top: 31px;
		width: 720px;
		height: 116px;
		float: left;
	}
	#tail13{
		margin-left: 57px;
		margin-top: 27px;
		width: 120px;
		height: 144px;
		background: url(img/erweima.jpg);
		float: left;
	}
	#tail121{
		width: 65px;
		height: 130px;
		clear: both;
		float: left;
	}
	.tail122{
		width: 68px;
		height: 130px;
		margin-left: 63px;
		float: left;
	}
	.tailmenu1{
		width: 65px;
		height: 15px;
		font-weight: 14px;
	}
	.tailmenu2{
		width: 68px;
		height: 88px;
		margin-top: 13px;
		font-size: 12px;
		line-height: 24px;
		color: #666560;
	}
	#end1{
		width: 800px;
		height: 16px;
		margin-top: 15px;
		margin-left: 250px;
	}
	.end11{
		width: 76px;
		height: 12px;
		font-size: 11px;
		color:#666560;
		float: left;
		text-align: center;
	}
	.end12{
		height: 16px;
		width: 1px;
		background-color: #d0cdc7;
		float: left;
	}
	#end2{
		width: 488px;
		height: 13px;
		margin-top: 11px;
		margin-left: 348px;
		font-size: 10px;
		color: #9a9791;
	}
	#end3{
		margin-top: 11px;
		height: 12px;
		width: 1180px;
		color: #9a9791;
		font-size: 11px;
		text-align: center;
	}
	#end4{
		width: 1180px;
		height:9px;
		margin-top: 13px;
		font-size: 9px;
		color: #9a9791;
		text-align: center;
	}
	#end5{
		width: 1180px;
		height: 52px;
		margin-top: 7px;
		text-align: center;
	}